/*█▀ ▀█▀ █▄█ █   █▀▀
  ▄█  █   █  █▄▄ ██▄*/


@import "mocha.css"; 

* {
    font-family: "Firacode Nerd Font";
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @mantle;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid @mauve;
}

#window {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#cpu,
#memory,
#wireplumber,
#tray,
#network,
#mode,
#custom-logout,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#custom-logout {
    color: @text;
}

#clock {
    color: @mauve;
}

#clock.date {
    color: @mauve;
}

#memory {
    color: @mauve;
}

#cpu {
    color: @mauve;
}

#pulseaudio {
    color: @mauve;
}

#network {
    color: @mauve;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
